
#wrapper1 {
    font-family: Helvetica;
    width:100%;
    min-height:1000px;
    /* background-color: #121212; */
    vertical-align: middle;
    padding:50px;
}

#loginField {
    width:400px;
    height:600px;
    border-radius:20px;
    border: 2px solid black;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    /* background-color:rgb(58, 58, 58); */
    /* color:white; */

    padding:20px;
    vertical-align:middle;
    margin-left:auto;
    margin-right:auto;
}