
#wrapper1 {
    font-family: Helvetica;
    width:100%;
    padding-top:200px;
    padding-bottom:300px;
    background-color: #cacaca;
}

#loginField {
    width:400px;
    height:500px;
    /* border-radius:20px; */
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color:white;
    padding:20px;
    margin: 0 auto;
}

#loginField form {
    position: relative;
    bottom: -75px;
}

#loginBtn {
    width:328px;
    height:50px;
    color:white;
    background-color:rgb(36, 131, 240);
    position: relative;
    bottom: -100px;
}

#userIn, #passIn {
    width:300px;
    height:15px;
}